---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";

const homeImages = (await getEntry("inicio", "inicio"));

if (!homeImages) {
  throw new Error("Could not find blog post 1");
}

const { data } = homeImages;
---

<article
  id="services"
  class="flex flex-col justify-center items-center gap-[1.5em] bg-white px-10 md:px-[9em] md:px-10 pb-8"
>
  <h1
    class="mb-4 text-lg text-center lg:text-left font-extrabold leading-none tracking-tight text-gray-900 md:text-2xl lg:text-3xl text-pretty"
  >
    NUESTROS SERVICIOS
  </h1>
  <section
    class="flex flex-col lg:flex-row justify-evenly gap-[30px] text-justify"
  >
    <div id="controls-carousel" class="relative w-full" data-carousel="slide">
      <!-- Carousel wrapper -->
      <div class="relative w-full h-56 overflow-hidden rounded-lg md:h-96">
        {
          data.inicioServiciosSlider.map((image, idx) => (
            <div class="hidden duration-500 ease-in-out" data-carousel-item>
              <Image 
                inferSize={true}
                src={image}
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 object-cover"
                alt={`carusel servicios uno - imagen ${idx}`}
                loading="lazy"
              />
            </div>
          ))
        }
      </div>
    </div>
    <p class="w-full lg:w-[80%]">
      ENGEO S.A.S, ofrece una amplia gama de servicios con experiencia en
      ingeniería geotécnica, ingeniería de rocas, ingeniería vial, ingenieria
      estructural, ingenieria hidraulica, obras civiles, exploración del
      subsuelo, aguas subterraneas, perforaciones y pozos profundos, minería,
      topografía, geomatica, pruebas de campo y ensayos de laboratorio sobre
      suelos, rocas y materiales de construcción, para ayudar a los clientes a
      gestionar el riesgo subterráneo.
    </p>
    <div id="controls-carousel" class="relative w-full" data-carousel="slide">
      <!-- Carousel wrapper -->
      <div class="relative w-full h-56 overflow-hidden rounded-lg md:h-96">
        {
          data.inicioServiciosSliderDos.map((image, idx) => (
            <div class="hidden duration-500 ease-in-out" data-carousel-item>
              <Image
                inferSize={true}
                src={image}
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 object-cover"
                alt={`carusel servicios dos - imagen ${idx}`}
                loading="lazy"
              />
            </div>
          ))
        }
      </div>
    </div>
  </section>

  <section
    class="flex flex-col lg:flex-row justify-evenly items-center w-full gap-[30px] text-center"
  >
    <ul>
      <li><a href="/servicios/estudios-suelos">Estudios de suelos</a></li>
      <li><a href="/servicios/ingenieria-geotecnica">Ingeniería Geotécnica</a></li>
      <li><a href="/servicios/ingenieria-de-rocas">Ingeniería de Rocas</a></li>
      <li><a href="/servicios/ingenieria-vial">Ingeniería Vial</a></li>
      <li><a href="/servicios/ingenieria-estructural">Ingeniería Estructural</a></li>
      <li><a href="/servicios/ingenieria-hidraulica">Ingeniería Hidráulica</a></li>
      <li><a href="/servicios/obras-civiles">Obras Civiles</a></li>

    </ul>
    <div class="flex flex-col justify-content gap-[30px] w-full lg:w-[50%]">
      <div id="controls-carousel" class="relative w-full" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative w-full h-56 overflow-hidden rounded-lg md:h-80">
          {
            data.inicioServiciosSliderTres.map((image, idx) => (
              <div class="hidden duration-500 ease-in-out" data-carousel-item>
                <Image
                  inferSize={true}
                  src={image}
                  class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 object-cover"
                  alt={`carusel servicios tres - imagen ${idx}`}
                  loading="lazy"
                />
              </div>
            ))
          }
        </div>
      </div>
      <a class="button" href="/#contacto">COTIZAR</a>
    </div>
    <ul>
      <li><a href="/servicios/ingenieria-de-rocas">Minería</a></li>
      <li><a href="/servicios/geologia">Geología</a></li>
      <li><a href="/servicios/aguas-pozos">Aguas Subterráneas y Pozos Profundos</a></li>
      <li><a href="/servicios/topografia">Topografía</a></li>
      <li><a href="/servicios/geomatica">Geomática</a></li>
      <li><a href="/servicios/laboratorios-ingenieria">Laboratorios de Ingeniería</a></li>
    </ul>
  </section>
</article>
<style>
  #services h1 {
    color: #091b49;
    letter-spacing: 12px;
    text-shadow: 0px 0px 10px #908f95;
  }

  p {
    letter-spacing: -0.8px;
    line-height: 1.7em;
    text-align: justify;
    font-size: 18px;
  }

  a.button {
    font-size: 14px;
    font-weight: 600;
    margin: auto;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px
      rgba(27.391304347826054, 42.12901701323246, 196.87499999999997, 0.3);
    fill: #d4cdcdfc;
    color: #d4cdcdfc;
    background-color: #091b49;
    border-style: solid;
    border-color: #091b49;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 10px 0px
      rgba(5.250000000000009, 5.0559782608695745, 5.0559782608695745, 0.98);
    padding: 15px 45px 15px 45px;
  }

  ul li {
    padding-bottom: 20px;
  }
  a {
    text-decoration: none;
    color: black;
  }
</style>
